body{
	background: url("temp/back.jpg");
}



/*Input*/
label {
    position: relative;
    top: -75px;
    left: 0;
    width: 100%;
    color: #d3d3d3;
    transition: 0.2s all;
    cursor: text;
    font-size: 24px;
}
input{
    width: 40vmax;
    text-align: center;
    text-shadow: black;
    font-size: 22px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: none;
    border-bottom: 1px solid black;
    display: block;
    margin: 10px;
    padding: 5px;
    margin-top: 50px;
    margin-bottom: 40px;
    font-size: 22px;
}

input:focus {
    outline: red 2px;
    background: rgb(202, 224, 233);
    transition: padding-top 0.2s ease, margin-top 0.2s ease;
}

input:focus~label,
input:valid~label {
  font-size: 32px;
  top: -40px;
  color: #535353;
}



/*Footer*/
.foot{
    position: fixed;
    left: 70%;
    bottom: 0;
    width: 20%;
    background-color: red;
    color: white;
    text-align: center;
    border-radius: 3px;
}
.top{
    position: fixed;
    left: 80%;
    top: 0%;
    width: 10%;
    height: 22px;
    background-color: rgb(43, 160, 255);
    color: white;
    text-align: center;
    border-radius: 3px;
}
.top p{ 
    margin: 1px;
}
.foot p{ 
    margin: 1px;
}
/*PopUp window FOOT*/
footer.foot [data-tooltip] {
    position: relative; /* Относительное позиционирование */ 
}
footer.foot [data-tooltip]::after {
content: attr(data-tooltip); /* Выводим текст */
position: absolute; /* Абсолютное позиционирование */
left: 0; top: 0; /* Положение подсказки */
background: red; /* цвет фона */
color: #fff; /* Цвет текста */
padding: 0.5em; /* Поля вокруг текста */
box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Параметры тени */
pointer-events: none; /* Подсказка */
opacity: 0; /* Подсказка невидима */
transition: 0.5s; /* Время появления подсказки */
} 
footer.foot [data-tooltip]:hover::after {
opacity: 1; /* Показываем подсказку */
top: -1210%; /* Положение подсказки */
}
/*PopUp window TOP*/
footer.top [data-tooltip] {
    position: relative; /* Относительное позиционирование */ 
}
footer.top [data-tooltip]::after {
content: attr(data-tooltip); /* Выводим текст */
position: absolute; /* Абсолютное позиционирование */
left: 0; top: 0; /* Положение подсказки */
background: rgb(43, 160, 255); /* цвет фона */
color: #fff; /* Цвет текста */
padding: 0.5em; /* Поля вокруг текста */
box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Параметры тени */
pointer-events: none; /* Подсказка */
opacity: 0; /* Подсказка невидима */
transition: 0.5s; /* Время появления подсказки */
} 
footer.top [data-tooltip]:hover::after {
opacity: 1; /* Показываем подсказку */
top: 150%; /* Положение подсказки */
}


/*List of answers css*/
#answersList {
    margin-bottom: 8px;
    padding:0;
	list-style: none;
	
	counter-reset: num;
}    
#answersList li {
    position: relative;
    border: 2px solid #DDDDDD;
    background: #FAFAFA;
    padding:16px 20px 16px 28px;
    margin:12px 0 12px 80px;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
#answersList li:hover {
    background: #F0F5FB;
    border: 2px solid #ADCEE9;
}
#answersList li:before {
    line-height: 32px;
	position: absolute;
	padding: 0 5px 0 5px;
    top: 4px;
    left:-70px;
    width:64px;
    text-align:center;
    font-size: 16px;
    font-weight: bold;
    color: #FFF;
	background: #77AEDB;	
	
	counter-increment: num;
	content: "Адказ " counter(num);
	
	-webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}
#answersList li:hover:before {
    width:70px;
    background: #337AB7;
}
#answersList li:after {
    position: absolute;
    left: 0;
    top: 4px;
    content: "";
    height: 0;
    width: 0;
    margin-left: 3px;
    border: 16px solid transparent;
    border-left-color: #77AEDB;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s
}
#answersList li:hover:after {
    margin-left: 10px;
    border-left-color: #337AB7;
}




/*Coping effect*/
#answersList li.successCopy {
    /* background: rgb(141, 255, 137); */
    background: rgb(179, 237, 255);
}
#answersList li.successCopy:not(:hover) {
    background: #FAFAFA;
    transition: background 1.5s;
}
p.behindElement {
    position: absolute;
    z-index: 2;
    opacity: 0.2;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 42px;
    font-style: italic;
    margin: -6% 0 0 80%;
    text-align: right;
}